# Arquivo de variáveis de ambiente - NUNCA ENVIE ESTE ARQUIVO!
.env

# Dependências do Node.js
node_modules

# Pasta com os dados do volume do Docker
pgdata

# Logs
logs
*.log
npm-debug.log*

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos do editor/IDE
.vscode/

frontend/node_modules
frontend/dist
frontend/.env
frontend/README.md
ai-service/venv
ai-service/google_credentials.json
__pycache__
venv